#some-div {
  width: 300px;
  height: 250px;
  background-color: purple;
  display: grid;
/*   the solution below works but is hard-coded */
      /* grid-template-columns: repeat(3, 1fr); */
}

.smaller-div {
  margin: 5px;
  width: 50px;
  height: 50px;
  background-color: bisque;
}